<h2>Enter Genetic Code Sequence</h2>

<%= form_for @conn, login_path(@conn, :create), [as: :login], fn f -> %>

  <div class="form-group">
    <label>Gentic code:</label>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Send To HQ", class: "btn btn-primary" %>
  </div>

  <%
    error = get_flash(@conn, :error)
  %>
  <%= if error do %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
  <% end %>
<% end %>