/* This file is for your main application css. */
.container {
  border: 1px #4BC355 solid;
  height: 80%;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 20px;
}


.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  background-color: #212121;
  color: #4BC355;
}

body {
  background-color: #212121 !important;
  margin: 0 !important;
  padding: 0 !important;
}